.App {
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	overflow: hidden;
}

.main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.container {
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin-top: 200px;
}
.ui.card {
	width: 300px;
	height: 300px;
	display: inline-grid;
}

.card {
	text-align: center;
	letter-spacing: 1px;
	border: grey solid 1px;
	padding: 1rem;
	display: inline-grid;
	margin-top: -1px;
	margin-left: -1px;
}
.card:nth-child(1) {
	margin-top: 1px;
}

.photo-image {
	object-fit: cover;
	justify-self: center;
	width: 100%;
	max-height: auto;
}
.searchBar {
	display: flex;
	justify-content: center;
	position: fixed;
	height: 200px;
	top: 0;
	background: white;
	width: 100vw;
	align-items: center;
	text-align: center;
}
.search {
	position: relative;
}
input {
	align-self: center;
}
