.App {
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	overflow: hidden;
}
#navbar {
	height: 75px;
	width: 100vw;
	position: fixed;
	/* background: black; */
	z-index: 50;
	justify-content: center;
	align-items: center;
}

.fas {
	color: black;
	position: relative;
	margin-left: 48.5vw;
	margin-top: 20px;
}
.fas:hover {
	color: rgba(0, 0, 0, .5);
}
.main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	background: black;
	/* z-index: -10; */
}

.container {
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.ui.card {
	width: 300px;
	/* height: 300px; */
	display: inline-grid;
	position: relative;
}

.solo-image {
	position: absolute;
	width: 200%;
	height: 200%;
	overflow: hidden;
}
.ui.card {
	text-align: center;
	letter-spacing: 1px;
	border: grey solid 1px;
	padding: 1rem;
	display: inline-grid;
	margin-top: -1px;
	margin-left: -1px;
	position: relative;
}

.one-card .solo-image {
	width: 100vw;
	height: auto;
	height: 94vh;
	position: fixed;

	top: 0;
	left: 0;
	/* right: 0; */
	z-index: 1;

	/* object-fit: cover; */
}
ul {
	justify-content: center;
	text-align: center;
	display: flex;
}
li {
	display: inline-block;
}
h3 {
	color: black;
	text-align: left;
	/* text-shadow: 0px 0px 4px rgba(255, 255, 255, .5); */
}
h4 {
	color: white;
}
.content {
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	width: 100vw;
	/* margin-bottom: 25px; */
	width: 100px;
	/* background: rgba(0, 0, 0, .5); */
	width: 100vw;
	padding: 20px;
}

.photo-image {
	object-fit: cover;
	justify-self: center;
	width: 100%;
	max-height: auto;
}
.searchBar {
	display: flex;
	justify-content: center;
	position: fixed;
	height: 200px;
	top: 0;
	background: black;
	width: 100vw;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.search {
	position: relative;
}
input {
	align-self: center;
}
